<html>
  <head>
    <script src="/assets/jquery.js"></script>
    <script src="/assets/bootstrap.js"></script>
    <link href="/assets/bootstrap.css" media="screen" rel="stylesheet">
    <link href="/assets/app.css" media="screen" rel="stylesheet">
  </head>

  <body>
    <div class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Blog</a>
        </div>
      </div>
    </div>

    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
